<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark "> <a class="navbar-brand" href="#" data-abc="true">GITHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span
        class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <img class="avatar1" src="assets/avatar1.png">
      <form class="form-inline my-2 my-lg-0" >
           <input class="form-control mr-sm-2" name="user" placeholder="Github User Name"> <input type="button" class="btn btn-secondary my-2 my-sm-0"
          value="Search">
      </form>
    </div>
  </nav>
  <h2 style="margin-left: 350px; padding-top: 10px; font-size: 20px; color:black"><u> Pinned Repositories <i
        class="icon-pushpin"></i></u></h2>
  <div class="row">

    <div class="col-3 bounce1">
      <img class="profile1" src="assets/avatar3.png" style="border-radius: 50%;">
      <h3 class="profile">Vanili</h3>
      <h4 class="profile"> <a href="https://github.com/VaniliKate"><span>VaniliKate</span></a></h4>
      <p class="profile">Hi! I am Kate Vanili, a full stack software dev in the making, check out some of my work, reach
        out to me, let's do amazing things togetherhugs</p>
    </div>
    <div class="col-4">
      <div class="repos ">
        <h5> <a href="https://github.com/VaniliKate/week-four-IP.git">Week-four-IP</a></h5>
        <p>The website features a system that will allow the user to pick the kind of pizza, crust and toppings they
          wish to get, order whatever amount of pizzas they want, have an option to have their pizza deliveed at a fee,
          and proceed to payment. Its a web application that has been designed to be easy to navigate and use by all
          people.</p>
      </div>

      <div class="repos bounce2">
        <h5> <a href="https://github.com/VaniliKate/week-three-IP.git">Week-three-IP</a></h5>
        <p>This is the Delani Studio website that allows potential clients to interact with the company objectives and
          capabilities and serves as their portfolio, the website also allows the user to reach out to Delani Studios
          for inquiries.</p>
      </div>

    </div>
    <div class="col-4">
      <div class="repos bounce3">
        <h5> <a href="https://github.com/VaniliKate/week-two-projects.git">Week-two-projects</a></h5>
        <p>This is a web application that will allow its user to input their birthday credentials, compute it, and give
          out their Akan name which is a naming practice originating from Ghana.</p>
      </div>

      <div class="repos bounce4">
        <h5> <a href="https://github.com/VaniliKate/week-four-IP.git">Week-three-IP</a></h5>
        <p>The website features a system that will allow the user to pick the kind of pizza, crust and toppings they
          wish to get, order whatever amount of pizzas they want, have an option to have their pizza deliveed at a fee,
          and proceed to payment. Its a web application that has been designed to be easy to navigate and use by all
          people.</p>
      </div>
    </div>
  </div>
</div>
