/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins';
  color: #157145;
  /*color: #b8fb3c;
    background: #03045e;*/

}

a {
  font-weight: bolder;
  color: #001a70;
}
